USE [master]
GO
/****** Object:  Database [DB_DDFURNITURE]    Script Date: 17/07/2023 03:35:44 ******/
CREATE DATABASE [DB_DDFURNITURE]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_DDFURNITURE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_DDFURNITURE]
GO
/****** Object:  Table [dbo].[DD_COUNTRY]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_COUNTRY](
	[ID_COUNTRY] [int] IDENTITY(1,1) NOT NULL,
	[NAME_COUNTRY] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COUNTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_CUSTOMER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_CUSTOMER](
	[ID_CUSTOMER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CUSTOMER] [nvarchar](60) NOT NULL,
	[BIRTHDAY_CUSTOMER] [nvarchar](20) NOT NULL,
	[ID_GENDER_CUSTOMER] [int] NULL,
	[ID_COUNTRY] [int] NULL,
	[ID_STATE_PROVINCE] [int] NULL,
	[PHONE_CLIENT] [nvarchar](60) NOT NULL,
	[EMAIL_CLIENT] [nvarchar](60) NOT NULL,
	[INSERTED_DATE] [date] NOT NULL,
	[MODIFIED_DATE] [date] NOT NULL,
	[ADDRESS_CUSTOMER] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_CUSTOMER_CONTACT]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_CUSTOMER_CONTACT](
	[ID_CUSTOMER] [int] NOT NULL,
	[IS_FIRST_CONTACT] [bit] NULL,
	[LOOKING_FOR] [nvarchar](100) NOT NULL,
	[INSERTED_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_GENDER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_GENDER](
	[ID_GENDER] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION_GENDER] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GENDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_ROLES]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_ROLES](
	[ID_ROLE] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_DESCRIPTION] [nvarchar](60) NOT NULL,
	[INSERTED_DATE] [date] NOT NULL,
	[MODIFIED_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_STATE_PROVINCE]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_STATE_PROVINCE](
	[ID_STATE] [int] IDENTITY(1,1) NOT NULL,
	[NAME_STATE] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_STATUS_USER_ROLE]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_STATUS_USER_ROLE](
	[ID_STATUS] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_DESCRIPTION] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_USER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_USER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_USER] [nvarchar](60) NOT NULL,
	[PWD_USER] [nvarchar](60) NOT NULL,
	[INSERTED_DATE] [date] NOT NULL,
	[MODIFIED_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_USER_ROLES]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_USER_ROLES](
	[ID_USER] [int] NOT NULL,
	[ID_ROLE] [int] NOT NULL,
	[ID_ROLE_STATUS] [int] NULL,
	[INSERTED_DATE] [date] NOT NULL,
	[MODIFIED_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DD_STATUS_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_DD_STATUS_USER_ROLE_DD_STATUS_USER_ROLE] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[DD_STATUS_USER_ROLE] ([ID_STATUS])
GO
ALTER TABLE [dbo].[DD_STATUS_USER_ROLE] CHECK CONSTRAINT [FK_DD_STATUS_USER_ROLE_DD_STATUS_USER_ROLE]
GO
ALTER TABLE [dbo].[DD_USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_DD_USER_ROLES_DD_ROLES] FOREIGN KEY([ID_ROLE])
REFERENCES [dbo].[DD_ROLES] ([ID_ROLE])
GO
ALTER TABLE [dbo].[DD_USER_ROLES] CHECK CONSTRAINT [FK_DD_USER_ROLES_DD_ROLES]
GO
ALTER TABLE [dbo].[DD_USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_DD_USER_ROLES_DD_STATUS_USER_ROLE] FOREIGN KEY([ID_ROLE_STATUS])
REFERENCES [dbo].[DD_STATUS_USER_ROLE] ([ID_STATUS])
GO
ALTER TABLE [dbo].[DD_USER_ROLES] CHECK CONSTRAINT [FK_DD_USER_ROLES_DD_STATUS_USER_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_CUSTOMER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	Add Customer
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADD_CUSTOMER] 
	@NAME NVARCHAR(60),
	@BIRTHDAY NVARCHAR(20),
	@GENDER INT,
	@COUNTRY INT,
	@STATE INT,
	@PHONE NVARCHAR(60),
	@EMAIL NVARCHAR(60),
	@ADDRESS NVARCHAR(80)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO DD_CUSTOMER(
	NAME_CUSTOMER,
	ADDRESS_CUSTOMER,
	PHONE_CLIENT,
	EMAIL_CLIENT,
	ID_GENDER_CUSTOMER,
	BIRTHDAY_CUSTOMER,
	ID_COUNTRY,
	ID_STATE_PROVINCE,
	INSERTED_DATE,
	MODIFIED_DATE)
	VALUES (
	@NAME,
	@ADDRESS,
	@PHONE,
	@EMAIL,
	@GENDER,
	@BIRTHDAY,
	@COUNTRY,
	@STATE,
	GETDATE(), 
	GETDATE())

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_USER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	Add User
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADD_USER] 
	@NAME NVARCHAR(60),
	@PWD NVARCHAR(30)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO DD_USER(NAME_USER,PWD_USER,INSERTED_DATE,MODIFIED_DATE) 
	VALUES(@NAME,@PWD, GETDATE(), GETDATE())

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_USER_ROLE]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	ADD User Role
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADD_USER_ROLE]
	@ID_USER INT,
	@ID_ROLE INT
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO DD_USER_ROLES(ID_USER,ID_ROLE,ID_ROLE_STATUS,INSERTED_DATE,MODIFIED_DATE) 
	VALUES(@ID_USER ,@ID_ROLE, 1, GETDATE(), GETDATE())

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_CUSTOMER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	Del CUSTOMER
-- =============================================
CREATE PROCEDURE [dbo].[SP_DEL_CUSTOMER_BY_ID]
	@ID INT
AS
BEGIN

	SET NOCOUNT ON;

	DELETE DD_CUSTOMER 
	WHERE ID_CUSTOMER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_USER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	Del User
-- =============================================
CREATE PROCEDURE [dbo].[SP_DEL_USER_BY_ID]
	@ID INT
AS
BEGIN

	SET NOCOUNT ON;

	DELETE DD_USER 
	WHERE ID_USER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CUSTOMER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	GET ALL CUSTOMERS
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_CUSTOMER_BY_ID]
	@ID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT 
	ID_CUSTOMER,
	NAME_CUSTOMER,
	ADDRESS_CUSTOMER,
	PHONE_CLIENT,
	EMAIL_CLIENT,
	ID_GENDER_CUSTOMER,
	BIRTHDAY_CUSTOMER,
	ID_COUNTRY,
	ID_STATE_PROVINCE
	FROM DD_CUSTOMER
	WHERE ID_CUSTOMER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CUSTOMERS]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	GET ALL CUSTOMERS
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_CUSTOMERS]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT 
	ID_CUSTOMER,
	NAME_CUSTOMER,
	ADDRESS_CUSTOMER,
	PHONE_CLIENT,
	EMAIL_CLIENT,
	ID_GENDER_CUSTOMER,
	BIRTHDAY_CUSTOMER,
	ID_COUNTRY,
	ID_STATE_PROVINCE
	FROM DD_CUSTOMER

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	Get User
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_USER_BY_ID] 
	@ID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT ID_USER, NAME_USER 
	FROM DD_USER 
	WHERE ID_USER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_ROLES]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	GET User Role
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_USER_ROLES]
	@NAME NVARCHAR(60),
	@PWD NVARCHAR(30)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT R.ROLE_DESCRIPTION
	FROM DD_USER_ROLES UR 
	INNER JOIN DD_ROLES R ON UR.ID_ROLE = R.ID_ROLE
	INNER JOIN DD_USER U ON UR.ID_USER = U.ID_USER
	WHERE U.NAME_USER = @NAME
	AND U.PWD_USER = @PWD
	AND ID_ROLE_STATUS = 1

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_CUSTOMER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	UPDATE CUSTOMER
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPD_CUSTOMER_BY_ID]
	@ID INT,
	@NAME NVARCHAR(60),
	@BIRTHDAY NVARCHAR(20),
	@GENDER INT,
	@COUNTRY INT,
	@STATE INT,
	@PHONE NVARCHAR(60),
	@EMAIL NVARCHAR(60),
	@ADDRESS NVARCHAR(80)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE DD_CUSTOMER SET 
	NAME_CUSTOMER = @NAME,
	ADDRESS_CUSTOMER = @ADDRESS,
	PHONE_CLIENT = @PHONE,
	EMAIL_CLIENT = @EMAIL,
	ID_GENDER_CUSTOMER = @GENDER,
	BIRTHDAY_CUSTOMER = @BIRTHDAY,
	ID_COUNTRY = @COUNTRY,
	ID_STATE_PROVINCE = @STATE,
	MODIFIED_DATE = GETDATE()
	WHERE ID_CUSTOMER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_USER_BY_ID]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-16
-- Description:	Update User
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPD_USER_BY_ID]
	@ID INT,
	@NAME NVARCHAR(60),
	@PWD NVARCHAR(60)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE DD_USER 
	SET 
	NAME_USER = @NAME,
	PWD_USER = @PWD
	WHERE ID_USER = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_VALIDATE_USER]    Script Date: 17/07/2023 03:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Garcia
-- Create date: 2023-07-15
-- Description:	Validate User
-- =============================================
CREATE PROCEDURE [dbo].[SP_VALIDATE_USER]
	@NAME NVARCHAR(60),
	@PWD NVARCHAR(60)
AS
BEGIN

	SELECT ID_USER as ID
	FROM DD_USER 
	WHERE NAME_USER = @NAME
	AND PWD_USER = @PWD

END
GO
USE [master]
GO
